{% extends "base.html" %}
{% block content %}
<div class="garden-grid">
    <img src="{{ get_url(path='odyssey.jpg') }}" height="350px" width="220px" data-threshold="25" data-rating="9.5/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='projecthailmary.jpg') }}" height="350px" width="220px" data-threshold="70" data-rating="9.6/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='avatarwayofwater.jpg') }}" height="350px" width="220px" data-threshold="90" data-rating="8.2/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='httyd.jpg') }}" height="350px" width="220px" data-threshold="80" data-rating="9.4/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='f1themovie.jpg') }}" height="350px" width="220px" data-threshold="200" data-rating="8.8/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='findingnemo.jpg') }}" height="350px" width="220px" data-threshold="120" data-rating="9.0/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='dhurandhar.jpg') }}" height="350px" width="220px" data-threshold="70" data-rating="9.1/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='loki.jpg') }}" height="350px" width="220px" data-threshold="70" data-rating="9.1/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='spidermanbnd.jpg') }}" height="350px" width="220px" data-threshold="80" data-rating="9.2/10" class="threshold-hover" alt="Penguin Profile Picture">
    <img src="{{ get_url(path='sloplevelling.jpg') }}" height="350px" width="220px" data-threshold="90" data-rating="slop/10" class="threshold-hover" alt="Penguin Profile Picture">
</div>

{% endblock %}